.logo img {
                width: 164px;
            }

            nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-family: "Segoe UI";
            }

            .right ul {
                display: flex;
                gap: 34px;
            }

            .right ul li {
                list-style: none;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .right ul li span {
                padding: 0 5px;
            }

            .first {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 34px;
                padding: 23px;
                margin: 79px;

                font-family: sans-serif;
            }

            .first span {
                font-size: xxx-large;

            }

            .section span img {
                width: 82px;
                margin: 0 21 px;

            }

            .first p {
                text-align: center;
                width: 59vw;
                font-size: 23px;
            }

            .btn {
                margin: 12px 0;
                cursor: pointer;
                background-color: #00b6d1;
                padding: 13px 13px;
                border: none;
                border-radius: 5px;
                color: white;
                font-weight: 900;

            }
            .btn a{
                text-decoration: none;
                color: white;
            }
            .second{
                max-width: 70vw;
                margin: auto;
                
               
                flex-direction: column;
                
                align-items: center;
                
            }
            .item{
                
                padding: 23px;
                background-color: #efefef;
                border-radius: 12px;
                font-size: 20px;
                text-align: center;

                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .item.lang{
                text-align: center;
                padding-bottom: 34px;
                font-weight: 700px;
            }
            .green{
                background-color: #5cb85c;
            }
            .grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 23px;
            }
            .download img{
                padding: 0 , 12px;
            }
            .download{
                display: flex;
                font-family: sans-serif;
                gap: 10px;
                align-items: center;
            }
            .download :nth-child(2){
                font-size: 23px;
            }

            @media screen and (max-width:1124px) {
                .grid{
                    grid-template-columns: 1fr;
                }
                
            }